%script#locuLocationTemplate{:charset => "utf-8", :type => "text/x-mustache-template"}
  %a{:href => "{{website_url}}", :target => "_blank"}
    {{name}}
  in
  %a{:href => "{{location_url}}", :target => "_blank"}
    {{locality}}, {{region}} {{distance}}mi away
  %br/

.row
  %input.twelve{:placeholder => "Event Title", :type => 'text'}
  %a.large.button.radius{:href => '#'}
    Create Event
.row
  %a.large.button.radius.button-facebook-connect{:href => '#'}
    Facebook Connect

%div#locuLocations