%div#pageContent
%div.row
  %div#locuLocations.seven.columns
  %div#currentLocation.five.columns

/ Templates

= render :partial => "shared/locu_templates"

%script#createEventTemplate{:charset => "utf-8", :type => "text/x-mustache-template"}
  %form#createEventForm
    %input#createEventTitle{:placeholder => "Event Title", :type => 'text'}
    %a.large.button.radius.button-create-event#createEventButton{:href => '#'}
      Create Event

%script#facebookConnectTemplate{:charset => "utf-8", :type => "text/x-mustache-template"}
  .row
    %a.large.button.radius.button-facebook-connect{:href => '#'}
      Facebook Connect

%script#phoneNumberTemplate{:charset => "utf-8", :type => "text/x-mustache-template"}
  .row
    %form#phoneNumberForm
      %input#phoneNumberInput{:type => 'text', :placeholder => 'Enter Phone Number'}
      %a.large.button.radius.button-phone-connect{:href => '#'}
        Submit

%script#facebookSendTemplate{:charset => "utf-8", :type => "text/x-mustache-template"}
  .row
    %span.twelve
      %a{:href => 'events/{{event._id}}'} Check out your Event
  .row
    %a.button.radius.button-facebook-send{:href => '#', :'data-fb-send-url' => 'events/{{event._id}}'}
      Send a Facebook Message
