%div#pageContent
%div#locuLocations
%div#currentLocation

/ Templates

= render :partial => "shared/locu_templates"

%script#createEventTemplate{:charset => "utf-8", :type => "text/x-mustache-template"}
  %form#createEventForm
    %input#createEventTitle.eight.columns{:placeholder => "Event Title", :type => 'text'}
    %a.large.button.radius.three.columns.offset-by-one.button-create-event{:href => '#'}
      Create Event

%script#FacebookConnectTemplate{:charset => "utf-8", :type => "text/x-mustache-template"}
  .row
    %a.large.button.radius.button-facebook-connect{:href => '#'}
      Facebook Connect

%script#FacebookSendTemplate{:charset => "utf-8", :type => "text/x-mustache-template"}
  .row
    %span.twelve
      %a{:href => 'events/{{event._id}}'} Check out your Event
  .row
    %a.button.radius.button-facebook-send{:href => '#', :'data-fb-send-url' => 'events/{{event._id}}'}
      Send a Facebook Message
