.row
  %input.twelve{:placeholder => "Event Title", :type => 'text'}
  %a.large.button.radius{:href => '#'}
    Create Event
.row
  %a.large.button.radius.button-facebook-connect{:href => '#'}
    Facebook Connect
